# StudyLens Server Environment Variables
PORT=3000
NODE_ENV=development

# PostgreSQL Connection String (Prisma ORM)
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/studylens?schema=public"

# JWT Authentication
JWT_SECRET="studylens-hackathon-super-secret-jwt-key-2026"
JWT_EXPIRES_IN="7d"

# CORS Frontend URL
FRONTEND_URL="*"
